@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary:  mat.$blue-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
    bold-weight: 600,
  ),
  density:(
    scale: 0
  ),
));

@media print {
  .filters,
  mat-toolbar,
  nav,
  button {
    display: none !important;
  }

  body {
    margin: 0;
    padding: 0;
  }

  @page {
    size: A4 landscape;
    margin: 10mm;
  }
}

@include mat.all-component-themes($theme);